.bigOne {
  text-align: left;
  margin: 20px 20px;
}

.main {
  height: 150px;
  border: 1px solid black;
  font-size: 14px;
  margin-top: 20px;
  
}
.left {
  float: left;
  width: 8%;
  height: 100%;
  padding: 10px 10px;
    
  
}
.right {
  width: 100%;
  height: 100%;
  padding: 2px;
  line-height: 10px;
  padding-top: 12px;
}

.borderLang {
  height: auto;
  border: 1px solid black;
  font-size: 30px;
  margin-top: 20px;
}

.borderCard {
  border: 2px solid black;
  margin: 20px;
  padding: 20px 20px 20px 20px;
  width: 300px;
  border-radius: 5%;
  height: 180px;
}

.cardNumber {
  padding-top: 15px;
  text-align: center;
  font-size: 24px;
  padding-bottom: 12px;
}

.cardText {
  font-size: 14px;
}

.cardLogo {
  text-align: right;
}

.outCard {
  display: flex;
  justify-content: flex-start;
}

.outDriver{
  display: flex;
  justify-content: center;
  margin: 50px;
  border: 2px solid black;
  border-radius: 3%;
  background-color: #1d7ce9;
  color: white;
  height: 200px;
  padding: 18px;
}

.driverImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.driverElement {
  margin: 0 50px;
}


